---
const {url, title, pubDate, image, description, tags} = Astro.props;
---
<a href={url}>
    <div class="card bg-base-100 shadow-xl">
        <figure>
            <img src={image.url} alt={image.alt} />
        </figure>
        <div class="card-body">
            <h2 class="card-title">{title}</h2>
            <p>{pubDate}</p>
            <p>{description}</p>
            <div class="card-actions justify-end">
                {tags.map((tag) => 
                    <div class="badge badge-outline">{tag}</div>
                )}
            </div>
        </div>
    </div>
</a>