---
import TagBadge from '../components/TagBadge.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

function dateToString(str) {
    const dateArray = str.split('-')
    const newDate = new Date(parseInt(dateArray[0]), parseInt(dateArray[1])-1, parseInt(dateArray[2]));
    return new Intl.DateTimeFormat('en-GB', {
        dateStyle: 'full',
        timeZone: 'Australia/Sydney',
    }).format(newDate);
}
const dateDisplay = dateToString(frontmatter.pubDate.slice(0,10))
---
<BaseLayout>
    <h1 class="page-title">{frontmatter.title}</h1>
    <p>{dateDisplay} | {frontmatter.author}</p>
    <p><em>{frontmatter.description}</em></p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <article class="prose sm:prose-xl">
        <slot />
    </article>
    <div class="tags">
        {frontmatter.tags.map((tag) => {
            return <TagBadge tag={tag} />
        })}
    </div>
</BaseLayout>

<style>
    .tags {
        display: flex;
        gap: 0.5rem;
        margin: 2px 0;
        align-items: center;
    }
</style>