---
import TagBadge from '../components/TagBadge.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

function dateToString(str) {
    const dateArray = str.split('-')
    const newDate = new Date(parseInt(dateArray[0]), parseInt(dateArray[1])-1, parseInt(dateArray[2]));
    return new Intl.DateTimeFormat('en-GB', {
        dateStyle: 'full',
        timeZone: 'Australia/Sydney',
    }).format(newDate);
}
const dateDisplay = dateToString(frontmatter.pubDate.slice(0,10))
---
<BaseLayout>
    <div class="blog-title-section">
        <h1 class="blog-title">{frontmatter.title}</h1>
        <p class="blog-date-publisher">{dateDisplay} | {frontmatter.author}</p>
    </div>
    <img class="blog-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <article class="blog-markdown-section">
        <slot />
    </article>
    <div class="blog-tag-section">
        {frontmatter.tags.map((tag) => {
            return <TagBadge tag={tag} />
        })}
    </div>
</BaseLayout>